<dis class="container">
  <h1>Account Login</h1>
  <form action="/" method="POST">
    <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">登入</button>
  </form>
</dis>