<dis class="container">
  <dis class="row w-50 m-5">
    <h1>Account Login</h1>
    <div class="alert alert-danger w-50" role="alert">
      登入失敗！請檢查帳號或密碼是否正確。
    </div>
    <form action="/" method="POST">
      <div class="mb-3">
        <input type="email" class="form-control w-50" id="email" placeholder="Email" name="email" required="required"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control w-50" id="password" placeholder="Password" name="password"
          required="required">
      </div>
      <button type="submit" class="btn btn-primary">登入</button>
    </form>
  </dis>
</dis>